.calculator {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.cacl-container {
  height: 100%;
  padding: 50px 0;
  width: 350px;
}

.task {
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 50px;
  font-size: 24px !important;
}

.answer {
  font-family: MJXc-TeX-main-R,MJXc-TeX-main-Rw;
  font-size: 26px;
}

.number-btn {
  width: 75px;
  height: 75px;
  font-size: 24px !important;
  box-shadow: 0 0 3px 0;
}

.ready-btn {
  background-color: green !important;
  color: white !important;
}

.error-btn {
  color: white !important;
  background-color: red !important;
}

.result-container {
  padding: 50px 0;
  width: 400px;
  height: 100%;
}

.progress {
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  background: none;
  margin-bottom: 1rem;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid gainsboro;
}

.result p {
  margin: 0;
}

.result-task {
  display: flex;
  margin: 0 10px
}