.calculator {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00f5ff2e;

}
.cacl-container {
  height: 100%;
  padding: 50px 0;
  width: 350px;
}

.task {
  background-color: #32a9a7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 50px;
  color: white !important;
  font-size: 24px !important;
}

.answer {
  font-family: MJXc-TeX-main-R,MJXc-TeX-main-Rw;
  font-size: 26px;
}

.number-btn {
  width: 75px;
  height: 75px;
  font-size: 24px !important;
  background-color: #32a9a7 !important;
  color: white !important;
}

.ready-btn {
  background-color: green !important;
  color: white !important;
}

.error-btn {
  color: white !important;
  background-color: red !important;
}

.result-container {
  padding: 50px 0;
  width: 400px;
  height: 100%;
}

.result {
  display: flex;
}

.result-task {
  display: flex;
  margin: 0 10px
}