.header {
  background-color: #34C6CD !important;
}

.content {
  height: calc(100vh - 64px);
  width: 100%;
}

a {
  color: white;
}
a:hover {
  color: #006064;
  text-decoration: none;
}

.sidebar-link {
  display: flex;
  color: black;
}

.MuiDrawer-paperAnchorLeft {
  width: 275px;
}